<!DOCTYPE html !flex property speciflex-grow , flex-shrink , flex-basic
<!em is helpful when you want to scale an element's size based on its parent's size. rem , or “root em,” is relative to the root element. rem is helpful when you want to scale an element's size based on the root size, regardless of the parent's size>
<html>
<head>
<style>
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
 .flex-wrap {display:  flex; align-items: flex-start; gap: 15px;}
}
#flexHeader {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  font-family: "Arial Light", Helvetica, sans-serif; 
  text-align:center;
  align-items: center;

}

#flexHeader h1 {
  flex: 1 0 30%;
  font-size: 1.6em;  
  background-image: linear-gradient(#80D8DA,#AFEEEE);
  padding-top: 1.0em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom:1em;
}
#flexHeader h2 {
  flex: 1 0 20%; 
  background-image: linear-gradient(#80D8DA,#AFEEEE);
  padding-top: .5em;
  padding-left: 1.0em;
  padding-right: 1.0em;
  padding-bottom:1.0Sem;
  
}
  
#flexHeader div {
  border-radius: 8px;
  border-color: #FAD99D;
  border-width: 1px;
  border-style:solid;
  #background-image: linear-gradient(#D3B683,#FFFFF0);
  padding-top: 1.8em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom:1.8em;
}
#flexHeader div2 {
  margin: 2.0em;
  margin-bottom: 2.0em;
  
}

@media only screen and (max-width: 600px) {
.flex-wrap 
	{ 
	flex-direction:column; 
	gap: 5px; }
.flex-wrap-subjects img {max-width: 25%; height: auto; flex-direction:column; }
p1  {
	font-size:0.80rem;
	}
p2 
	{
	font-size:0.80rem;
	font-weight:bold;
	}

h1
	{
	font-size:0.10em;
	}

img 
		{max-width: 100%; height: auto; }
}



.flex-wrap {display: flex; align-items: flex-start; gap: 15px;}
.flex-wrap img {width: auto; max-height: 250px; margin: 0 auto 1em;}
.flex-wrap p {flex: 1;}
.flex-wrap-subjects {display: flex; align-items: flex-start; gap: 15px; }
.flex-wrap-subjects img {max-width: 25%; height: auto; flex-direction:column; }
.flex-wrap-subjects p {flex: 1;}
.row	{display: flex; flex-direction: row;flex-wrap: wrap;width: 100%;}
.column {display: flex;flex-direction: column;ex-basis: 100%;flex: 1;!background-color: Ivory;!height: 100px;}
p1 {
font-family: Helvetic, sans-serif; 
}


p2 {font-family: sans-serif; 
  font-weight: bold;
  background-image: linear-gradient(#80D8DA,#AFEEEE);
  padding-top: 1.0em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom:.5em;
  border-top: 1px solid #9F9F9F;
  border-right: 1px solid #9F9F9F;
  border-bottom: 1px solid #9F9F9F;
  border-left: 1px solid #9F9F9F;
  border-radius: 5px;
  }
p.a {font-family: "Times New Roman", Times, serif;}
p.b {font-family: "Arial Light", Helvetic, sans-serif;}
a:link, 
a:visited {background-color: #80D8DA;color: black;padding: 10px;padding-left: 18px;padding-right: 18px;text-align: center;text-decoration: none;display: inline-block;border-radius:8px;}
a:hover, 
a:active {background-color: #52B2BF;color:white}


.button {
  font: bold .75em Arial ;
  color: white; # has no effect, why not???
  !font: 2em;
  text-decoration: none;
  !background-color: #CCCCCC;
 
  !padding: 2px 6px 2px 6px;
  border-top: 1px solid #9F9F9F;
  border-right:  1px solid #9F9F9F;
  border-bottom: 1px solid #9F9F9F;
  border-left: 1px solid#9F9F9F;
}
</style>
