<html>
<head>
<style>
body {
  font-family: Georgia, serif;
  line-height: 1.6;
  margin: 2rem auto;
  max-width: 800px;
  padding: 0 1rem;
  color: #333;
  background-color: #f9f9f9;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 1rem; /* space between image and text */
}


.imgSmall {
  width: 100px; /* or whatever size you prefer */
  height: auto;
}

h1, h2, h3 {
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
	color: #191970;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
	color: #b22222;
  font-size: 1.2rem;
  margin-top: 2rem;
}

h3 {
	color: #b22222;
  font-size: 1.2rem;
  margin-top: 1rem;
}

blockquote {
  font-style: italic;
  color: #555;
  border-left: 1px solid #ccc;
  padding-left: 1rem;
  margin: 1rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}
img {width:12%; height: auto; 
}
@media only screen and (max-width: 600px) {

p  {
	font-size:0.70rem;
	}
h1 {
  font-size: 0.70rem;
}
h2 {
  font-size: 0.70rem;
}

h3 {
  font-size: 0.70rem;
}
blockquote {
 font-size: 0.70rem;
}
</style>
</html>
</head>
